<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <input
        class="gf-form-input"
        placeholder="Space Name"
        ng-model="ctrl.annotation.spaceName"
      ></input>
      <input
        class="gf-form-input"
        placeholder="Environment Name"
        ng-model="ctrl.annotation.environmentName"
      ></input>
      <input
        class="gf-form-input"
        placeholder="Project Name"
        ng-model="ctrl.annotation.projectName"
      ></input>
    </div>
  </div>
</div>
